doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width initial-scale=0")
		link(rel="shortcut icon" href="/favicon.ico")

		block links
			link(rel="stylesheet" href="template.css")
			script(defer src="template.js")

			title Template

	body
		block content
			a(href="/") Home Page
			h2 Template


